<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Secret Hall</title>
	</head>
	<body>
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<title>Secret Hall</title>
				<link rel="stylesheet" href="../styles/hot-dishes.css" />
			</head>
			<body>
				<div class="scroll-container">
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						
						<input type="checkbox" id="toggle-1" class="toggle">
						<label id="toggle_id" for="toggle-1">
						</label>
						<div class="product-name">
							<h2 class="product-font">Cottage Cheese Pancake</h2>
							<ul class="ingredients" >
								<li>3 հատ, մատուցվում է յոգուրտով</li>
							</ul>
							<ul class="ingredients" >
                <li>3 шт, подаются с йогуртом</li>
							</ul>
              <ul class="ingredients" >
                <li>3 peaces, served with a yogurt</li>
              </ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								 <p class="price">1500</p>
								 <p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						
						<input type="checkbox" id="toggle-2" class="toggle">
						<label id="toggle_id" for="toggle-2">
						</label>
						<div class="product-name">
							<h2 class="product-font">Pancake</h2>
							<ul class="ingredients" >
								<li>Նուտելլա</li>
								<li>Մեղր</li>
							</ul>
							<ul class="ingredients" >
                <li>Нутелла</li>
                <li>Мед</li>
              </ul>
              <ul class="ingredients" >
                <li>Nutella</li>
                <li>Honey</li>
              </ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								 <p class="price">1500</p>
								 <p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						
						<input type="checkbox" id="toggle-3" class="toggle">
						<label id="toggle_id" for="toggle-3">
						</label>
						<div class="product-name">
							<h2 class="product-font">Oatmeal with fruits</h2>
							<ul class="ingredients" >
								<li>Վարսակի Փաթիլներ</li>
								<li>Կաթ</li>
								<li>Մրգեր</li>
								<li>Կարագ</li>
							</ul>
							<ul class="ingredients" >
                <li>Овсяные хлопья</li>
                <li>Молоко</li>
                <li>Фрукты</li>
                <li>Сливочное Масло</li>
              </ul>
              <ul class="ingredients" >
                <li>Cereals</li>
                <li>Milk</li>
                <li>Fruits</li>
                <li>Butter</li>
              </ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								 <p class="price">1500</p>
								 <p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						
						<input type="checkbox" id="toggle-4" class="toggle">
						<label id="toggle_id" for="toggle-4">
						</label>
						<div class="product-name">
							<h2 class="product-font">Benedict Salmon / Bacon</h2>
							<ul class="ingredients" >
								<li>Սաղմոն / բեկոն</li>
								<li>ռուկոլլա</li>
								<li>ավոկադո</li>
								<li>ձու</li>
							</ul>
							<ul class="ingredients" >
                <li>Лосось / бекон</li>
                <li>руколла</li>
                <li>авокадо</li>
                <li>яйцо</li>
              </ul>
              <ul class="ingredients" >
                <li>salmon / bacon</li>
                <li>arugula</li>
                <li>avocado</li>
                <li>poached eggs</li>
              </ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								 <p class="price">1700</p>
								 <p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						
						<input type="checkbox" id="toggle-5" class="toggle">
						<label id="toggle_id" for="toggle-5">
						</label>
						<div class="product-name">
							<h2 class="product-font">Croque Madam</h2>
							<ul class="ingredients" >
								<li>խոզապուխտ</li>
								<li>մոցարելլա</li>
								<li>թթվասեր</li>
								<li>ձու</li>
							</ul>
							<ul class="ingredients" >
                <li>ветчина</li>
                <li>моцарелла</li>
                <li>сметана</li>
                <li>яйцо</li>
              </ul>
              <ul class="ingredients" >
                <li>ham</li>
                <li>mozzarella</li>
                <li>sour cream</li>
                <li>poached eggs</li>
              </ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								 <p class="price">1600</p>
								 <p class="price currency">AMD</p>
							</div>
						</div>
					</section>
				</div>
			</body>
		</html>
	</body>
</html>
