<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Secret Hall</title>
		<link rel="stylesheet" href="../styles/hot-dishes.css" />
		<script src="../scripts/main.js" defer></script>
	</head>
	<body>
		<div class="scroll-container">
			<section class="screen">
				<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
				<input type="checkbox" id="toggle-1" class="toggle" />
				<label id="toggle_id" for="toggle-1"> </label>
				<div class="product-name">
					<h2 class="product-font">Spring Roll</h2>
					<ul class="ingredients">
						<li>Ռուկոլա</li>
						<li>վարունգ</li>
						<li>կանաչ սոխ</li>
						<li>բուլղարական պղպեղ</li>
						<li>կրեմետե պանիր</li>
						<li>գազար</li>
					</ul>
					<ul class="ingredients">
						<li>руккола</li>
						<li>огурец</li>
						<li>зеленый лук</li>
						<li>болгарский перец</li>
						<li>сливочный сыр</li>
						<li>морковь</li>
					</ul>
					<ul class="ingredients">
						<li>arugula</li>
						<li>cucumber</li>
						<li>green onion</li>
						<li>bell pepper</li>
						<li>cream cheese</li>
						<li>carrot</li>
					</ul>
				</div>
				<div class="product-border"></div>
				<div class="background">
					<div class="svg-container">
						<p class="price">1200</p>
						<p class="price currency">AMD</p>
					</div>
				</div>
			</section>
			<section class="screen">
				<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
				<input type="checkbox" id="toggle-2" class="toggle" />
				<label id="toggle_id" for="toggle-2"> </label>
				<div class="product-name">
					<h2 class="product-font">Bruschetta</h2>
					<ul class="ingredients">
						<li>4 կտոր բագետ</li>
						<li>լոլիկ</li>
						<li>ձիթապտուղ</li>
						<li>համեմ</li>
					</ul>
					<ul class="ingredients">
						<li>4 шт. багет</li>
						<li>помидор</li>
						<li>оливки</li>
						<li>кориандр</li>
					</ul>
					<ul class="ingredients">
						<li>4 peaces baguette</li>
						<li>tomato</li>
						<li>olive</li>
						<li>coriander</li>
					</ul>
				</div>
				<div class="product-border"></div>
				<div class="background">
					<div class="svg-container">
						<p class="price">1900</p>
						<p class="price currency">AMD</p>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
