<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Secret Hall</title>
	</head>
	<body>
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<title>Secret Hall</title>
				<link rel="stylesheet" href="../styles/hot-dishes.css" />
			</head>
			<body>
				<div class="background">
					<div class="svg-container">
						<img src="../assets/svgs/fresh.svg" class="svg" alt="" />
					</div>
				</div>
				<div class="scroll-container">
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<div class="product-name">
							<h2 class="product-font">Watermelon Juice</h2>
						</div>
						<div class="product-border"></div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6426.jpg" class="food custom1" alt="" />
						<div class="product-name">
							<h2 class="product-font">Watermelon Juice</h2>
						</div>
						<div class="product-border"></div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6433.jpg" class="food custom1" alt="" />
						<div class="product-name">
							<h2 class="product-font">Watermelon Juice</h2>
						</div>
						<div class="product-border"></div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6444.jpg" class="food custom1" alt="" />
						<div class="product-name">
							<h2 class="product-font">Watermelon Juice</h2>
						</div>
						<div class="product-border"></div>
					</section>
				</div>
			</body>
		</html>
	</body>
</html>
