
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<title>Secret Hall</title>
				<link rel="stylesheet" href="../styles/hot-dishes.css" />
			</head>
			<body>
				<div class="scroll-container">
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-1" class="toggle" />
						<label id="toggle_id" for="toggle-1"> </label>
						<div class="product-name">
							<h2 class="product-font">Hot Salad</h2>
							<ul class="ingredients">
								<li>տավարի միս</li>
								<li>սմբուկ</li>
								<li>չերրի լոլիկ</li>
								<li>սոուս</li>
								<li>քունջութ</li>
							</ul>
							<ul class="ingredients">
								<li>говядина</li>
								<li>баклажан</li>
								<li>помидоры черри</li>
								<li>соус</li>
								<li>кунжут</li>
							</ul>
							<ul class="ingredients">
								<li>beef</li>
								<li>eggplant</li>
								<li>cherry tomato</li>
								<li>sauce</li>
								<li>sesame</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">2900</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-2" class="toggle" />
						<label id="toggle_id" for="toggle-2"> </label>
						<div class="product-name">
							<h2 class="product-font">Greek</h2>
							<ul class="ingredients">
								<li>լոլիկ</li>
								<li>վարունգ</li>
								<li>ֆետա պանիր</li>
								<li>բուլղարական պղպեղ</li>
								<li>ձիթապտուղ</li>
								<li>կարմիր գլուխ սոխ</li>
							</ul>
							<ul class="ingredients">
								<li>помидор</li>
								<li>огурец</li>
								<li>болгарский перец</li>
								<li>сыр фета</li>
								<li>оливки</li>
								<li>красный лук</li>
							</ul>
							<ul class="ingredients">
								<li>tomato</li>
								<li>cucumber</li>
								<li>feta cheese</li>
								<li>bell pepper</li>
								<li>olive</li>
								<li>red onion</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1900</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-3" class="toggle" />
						<label id="toggle_id" for="toggle-3"> </label>
						<div class="product-name">
							<h2 class="product-font">Quinoa</h2>
							<ul class="ingredients">
								<li>քինոա</li>
								<li>հազար</li>
								<li>լոլիկ</li>
								<li>վարունգ</li>
								<li>բուլղարական պղպեղ</li>
								<li>ավոկադո</li>
								<li>մաղդանոս</li>
							</ul>
							<ul class="ingredients">
								<li>киноа</li>
								<li>листья салата</li>
								<li>помидор</li>
								<li>огурец</li>
								<li>болгарский перец</li>
								<li>авокадо</li>
								<li>петрушка</li>
							</ul>
							<ul class="ingredients">
								<li>quinoa</li>
								<li>lettuce</li>
								<li>tomato</li>
								<li>cucumber</li>
								<li>bell pepper</li>
								<li>avocado</li>
								<li>parsley</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1900</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-4" class="toggle" />
						<label id="toggle_id" for="toggle-4"> </label>
						<div class="product-name">
							<h2 class="product-font">Rainbow</h2>
							<ul class="ingredients">
								<li>ավոկադո</li>
								<li>Նարինջ</li>
								<li>կարմիր կաղամբ</li>
								<li>հազար</li>
								<li>գազար</li>
								<li>բուլղարական պղպեղ</li>
								<li>վարունգ</li>
							</ul>
							<ul class="ingredients">
								<li>авокадо</li>
								<li>апельсин</li>
								<li>красная капуста</li>
								<li>листья салата</li>
								<li>морковь</li>
								<li>болгарский перец</li>
								<li>огурец</li>
							</ul>
							<ul class="ingredients">
								<li>авокадо</li>
								<li>orange</li>
								<li>red cabbage</li>
								<li>lettuce</li>
								<li>carrot</li>
								<li>bell pepper</li>
								<li>cucumber</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1900</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-5" class="toggle" />
						<label id="toggle_id" for="toggle-5"> </label>
						<div class="product-name">
							<h2 class="product-font">Summer salad</h2>
							<ul class="ingredients">
								<li>վարունգ</li>
								<li>լոլիկ</li>
								<li>սոխ</li>
								<li>բուլղարական պղպեղ</li>
								<li>խառը կանաչի</li>
							</ul>
							<ul class="ingredients">
								<li>огурец</li>
								<li>помидор</li>
								<li>лук</li>
								<li>болгарский перец</li>
								<li>зелень</li>
							</ul>
							<ul class="ingredients">
								<li>cucumber</li>
								<li>tomato</li>
								<li>onion</li>
								<li>bell pepper</li>
								<li>mixed greens</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1900</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-6" class="toggle" />
						<label id="toggle_id" for="toggle-6"></label>
						<div class="product-name">
							<h2 class="product-font">Cesar Chicken / Shrimps</h2>
							<ul class="ingredients">
								<li>հավի կրծքամիս / մանրածովախեցգետին</li>
								<li>հազար</li>
								<li>չերրի լոլիկ</li>
								<li>չորահաց</li>
								<li>պարմեզան</li>
							</ul>
							<ul class="ingredients">
								<li>куриная грудка / креветки</li>
								<li>листья салата</li>
								<li>помидоры черри</li>
								<li>сухарики</li>
								<li>пармезан</li>
							</ul>
							<ul class="ingredients">
								<li>chicken breast / shrimps</li>
								<li>lettuce</li>
								<li>cherry tomato</li>
								<li>crackers</li>
								<li>parmesan</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1900</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
				</div>
			</body>
		</html>
