
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<title>Secret Hall</title>
				<link rel="stylesheet" href="../styles/hot-dishes.css" />
			</head>
			<body>
				<div class="scroll-container">
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-1" class="toggle" />
						<label id="toggle_id" for="toggle-1"> </label>
						<div class="product-name">
							<h2 class="product-font">Spas</h2>
							<ul class="ingredients">
								<li>ձավար</li>
								<li>մածուն</li>
								<li>թթվասեր</li>
								<li>համեմ</li>
								<li>կարագ</li>
							</ul>
							<ul class="ingredients">
								<li>перловая крупа</li>
								<li>йогурт</li>
								<li>сметана</li>
								<li>кориандр</li>
								<li>масло</li>
							</ul>
							<ul class="ingredients">
								<li>pearl barley</li>
								<li>yogurt</li>
								<li>sour cream</li>
								<li>coriander</li>
								<li>butter</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1200</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-2" class="toggle" />
						<label id="toggle_id" for="toggle-2"> </label>
						<div class="product-name">
							<h2 class="product-font">Meatball soup</h2>
							<ul class="ingredients">
								<li>տավարի միս</li>
								<li>կարտոֆիլ</li>
								<li>բրինձ</li>
								<li>գազար</li>
								<li>սոխ</li>
								<li>սև պղպեղ</li>
							</ul>
							<ul class="ingredients">
								<li>говядина</li>
								<li>карофель</li>
								<li>рис</li>
								<li>морковь</li>
								<li>лук</li>
							</ul>
							<ul class="ingredients">
								<li>beef</li>
								<li>potato</li>
								<li>rice</li>
								<li>carrot</li>
								<li>onion</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1300</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-3" class="toggle" />
						<label id="toggle_id" for="toggle-3"> </label>
						<div class="product-name">
							<h2 class="product-font">Borsch</h2>
							<ul class="ingredients">
								<li>տավարի միս</li>
								<li>բազուկ</li>
								<li>գազար</li>
								<li>կարտոֆիլ</li>
								<li>կաղամբ</li>
								<li>սոխ</li>
								<li>մատուցվում է թթվասերով</li>
							</ul>
							<ul class="ingredients">
								<li>говядина</li>
								<li>свекла</li>
								<li>морковь</li>
								<li>карофель</li>
								<li>карофель</li>
								<li>лук</li>
							</ul>
							<ul class="ingredients">
								<li>beef</li>
								<li>beets</li>
								<li>carrot</li>
								<li>potato</li>
								<li>onion</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1500</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-4" class="toggle" />
						<label id="toggle_id" for="toggle-4"> </label>
						<div class="product-name">
							<h2 class="product-font">Pupmkin cream soup</h2>
							<ul class="ingredients">
								<li>դդում</li>
								<li>կարտոֆիլ</li>
								<li>գազար</li>
								<li>սոխ</li>
								<li>սերուցք</li>
							</ul>
							<ul class="ingredients">
								<li>тыква</li>
								<li>карофель</li>
								<li>морковь</li>
								<li>лук</li>
								<li>сливки</li>
							</ul>
							<ul class="ingredients">
								<li>pumpkin</li>
								<li>potato</li>
								<li>carrot</li>
								<li>onion</li>
								<li>cooking cream</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1500</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
					<section class="screen">
						<img src="../assets/fresh/BIV_6421.jpg" class="food" alt="" />
						<input type="checkbox" id="toggle-5" class="toggle" />
						<label id="toggle_id" for="toggle-5"> </label>
						<div class="product-name">
							<h2 class="product-font">Chicken soup</h2>
							<ul class="ingredients">
								<li>հավի կրծքամիս</li>
								<li>կարտոֆիլ</li>
								<li>գազար</li>
								<li>բրինձ</li>
								<li>սոխ</li>
							</ul>
							<ul class="ingredients">
								<li>куриная грудка</li>
								<li>карофель</li>
								<li>морковь</li>
								<li>рис</li>
								<li>лук</li>
							</ul>
							<ul class="ingredients">
								<li>chicken breast</li>
								<li>potato</li>
								<li>carrot</li>
								<li>rice</li>
								<li>onion</li>
							</ul>
						</div>
						<div class="product-border"></div>
						<div class="background">
							<div class="svg-container">
								<p class="price">1900</p>
								<p class="price currency">AMD</p>
							</div>
						</div>
					</section>
				</div>
			</body>
		</html>
